@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.button {
  padding: 14px 25px 15.5px 25px;
  margin-top: 2px;

  font-family: v.$ff-second;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: v.$default-white;
  text-decoration: none;

  background-color: v.$accent;
  outline: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 136px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 6px v.$accent80, 0 3px v.$accent80;
}

.button:active {
  color: v.$black50;
}


.button--green {
  padding: 14px 25px 16px 25px;

  color: v.$default-black;

  background-color: v.$green;

}

.button--green:hover,
.button--green:focus {
  background-color: transparent;
  color: v.$default-white;
  outline: 2px solid v.$green;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15),
    0 1px 3px rgba(0, 0, 0, 0.1);
}

.button--green:active {
  color: v.$white50;
}