@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.card {
  position: relative;
  padding: 30px;
  width: 450px;
  min-height: 600px;

  display: flex;
  flex-direction: column;

  border-radius: 32px;
  overflow: clip;

  @include m.tablet {
    width: 560px;
    min-height: 355px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  @include m.desktop {
    padding: 0;
    width: 785px;
    min-height: 500px;
  }
}

.card span {
  padding: 7px 18px;
  margin-bottom: 13px;

  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  font-weight: 600;

  border-radius: 100px;
  backdrop-filter: blur(30px);
}

.card__content {
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include m.desktop {
    padding: 30px;
    padding-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.card__content h3 {
  margin: 0;
  margin-bottom: 15px;

  font-family: v.$ff-second;
  font-size: 30px;
  line-height: 102%;
  font-weight: 500;

  @include m.desktop {
    font-size: 34px;
  }
}

.card__content p {
  margin: 0;

  font-size: 18px;
  line-height: 140%;

  @include m.tablet {
    margin-top: auto;
  }
}

.card--skill {
  z-index: 1;

  color: v.$default-white;

  background: radial-gradient(259.81% 137.32% at 0% 3.7%, #002fa8 0%, #001a68 100%);
}

.card--teacher {
  background-color: v.$green;

  @include m.large-tablet {
    margin-top: -100px;
  }

  @include m.desktop {
    margin-top: -340px;
    margin-bottom: -60px;
  }
}

.card--info {
  background-color: v.$light-mint;

  @include m.large-tablet {
    margin-top: -60px;
  }

  @include m.desktop {
    margin-top: 27px;
    margin-right: 116px;
    z-index: 1;
  }
}


.card span {
  background: rgba(0, 39, 178, 0.06);
}

.card--skill span {
  background: rgba(255, 255, 255, 0.2);
}

.card__picture {
  position: relative;
  bottom: 0;
  right: 0;

  @include m.desktop {
    width: 471px;
    height: 500px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: auto;
  }
}


.card__picture img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.card--skill>.card__picture {
  top: -36px;
  right: -30px;
}

.card--skill>.card__picture img {
  @include m.desktop {
    top: 106px;
    left: -8px;
  }
}

.card--teacher>.card__picture {
  top: -6px;
  left: 135px;

  @include m.tablet {
    left: 30px;
  }
}

.card--teacher>.card__picture img {
  @include m.desktop {
    transform: scale(1.25);
    top: 54px;
    left: -12px;
  }
}

.card--info>.card__picture {
  transform: scale(1.13);
  left: 104px;
  top: 27px;

  @include m.desktop {
    transform: scale(1.2);
  }
}

.card--info>.card__picture img {
  transform: rotate(-30deg);
  will-change: transform;

  @include m.desktop {
    top: -62px;
    left: -50px;
  }
}

.card--skill>.card__picture {
  @include m.desktop {
    bottom: -39px;
    right: -38px;
  }
}