@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;


.community {
  padding-top: 60px;
  padding-bottom: 117px;

  @include m.desktop {
    padding-bottom: 80px;
  }
}

.community__content {
  @include m.container;
  padding-top: 30px;

  display: grid;
  row-gap: 20px;

  border-top: 1px solid v.$light-mint;

  @include m.desktop {
    row-gap: 32px;
  }
}

.community__list {
  @include m.list-reset;
  padding: 27px 22px;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0;

  background: radial-gradient(92.49% 94.44% at 2.96% 50%, #daeef4 18.98%, v.$light-green 50.96%, v.$default-white 88.74%);
  border-radius: 32px;
  overflow: hidden;
  isolation: isolate;

  @include m.desktop {
    padding: 24px 110px 24px 10px;
  }
}

.community__item {
  position: relative;
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 50%;

  // clip-path: circle(50% at 50% 50%);

  @include m.desktop {
    width: 120px;
    height: 120px;
  }
}

.community__item span {
  position: relative;
  width: 90px;
  height: 90px;
  display: block;
  border: 2px solid v.$accent;
  border-radius: 50%;
  background-color: transparent;

  @include m.desktop {
    width: 120px;
    height: 120px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 22px);
    left: 50%;
    width: 2px;
    height: 45px;
    background-color: v.$accent;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 22px);
    width: 45px;
    height: 2px;
    background-color: v.$accent;
  }
}

.community__item:not(:first-child) {
  margin-left: -2px;
}

.community__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.community__item:not(:last-child) {
  margin-right: -20px; // Используем margin-right для контроля наложения

  -webkit-mask-image: radial-gradient(circle 50px at calc(100% + 25px) 50%, transparent 100%, black 100%);
  mask-image: radial-gradient(circle 50px at calc(100% + 25px) 50%, transparent 100%, black 100%);

  @include m.desktop {
    margin-right: -28px;

    -webkit-mask-image: radial-gradient(circle 65px at calc(100% + 30px) 50%, transparent 100%, black 100%);
    mask-image: radial-gradient(circle 65px at calc(100% + 30px) 50%, transparent 100%, black 100%);

  }
}

.community__stats {
  display: grid;
  gap: 30px;

  @include m.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.community__stats-hero {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include m.desktop {
    margin-top: 12px;
  }
}

.community__stats-list {
  @include m.list-reset;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include m.desktop {
    margin-left: 78px;

    gap: 40px;
    justify-self: center;
  }
}

.community__stats-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include m.desktop {
    gap: 14px;
  }
}

.community__stats-number {
  margin: 0;

  font-family: v.$ff-second;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: -0.06em;
}

.community__stats-hero .community__stats-number {
  @include m.desktop {
    font-size: 120px;
  }
}

.community__stats-list .community__stats-number {
  @include m.desktop {
    line-height: 88%;
    letter-spacing: 0;
  }
}

.community__stats-text {
  margin: 0;

  font-size: 18px;
  line-height: 140%;
  color: v.$black70;
}