@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.form {
  @include m.container;

  padding-top: 60px;
  padding-bottom: 88px;

  color: v.$default-white;

  @include m.desktop {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.form__content {
  padding-top: 40px;
  padding-bottom: 40px;

  display: grid;
  align-items: center;
  gap: 10px;

  @include m.desktop {
    padding-bottom: 38px;
    padding-top: 39px;
    grid-template-columns: 1fr 1fr 1fr max-content;
    gap: 4px;
  }
}

.form h2 {
  @include m.desktop {
    width: unset;
  }
}

.form__input {
  padding: 15px 25px;
  width: 100%;

  font-size: 18px;
  line-height: 140%;
  color: v.$default-white;
  background-color: v.$white20;
  border: none;
  border-radius: 100px;
  outline: 2px solid transparent;

  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.form__input::placeholder {
  color: v.$white50;
}

.form__input:hover,
.form__input:focus {
  outline-color: v.$green;
}

.form__input:active {
  outline-color: transparent;
}

.form__content label {
  position: relative;
}

.form__input--error {
  outline: 2px solid v.$error;
  color: v.$error;
}

.form__button {
  max-width: 250px;
  margin-top: 4px;

  justify-self: flex-start;

  @include m.desktop {
    margin-top: 2px;
  }
}

.form p {
  margin: 0;

  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: v.$white50;
}

.form a {
  text-decoration: none;
  color: v.$white50;
}

.form a:hover,
.form a:focus {
  text-decoration: underline;
  color: v.$white70;
}

.form a:active {
  color: $white20;
  text-decoration: none;
}