@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.hero {
  @include m.container;
  padding-top: 40px;
  padding-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 29px 6px;

  @include m.large-tablet {
    padding-top: 34px;

    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  @include m.desktop {
    padding-bottom: 200px;
  }
}

.hero__text-content {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include m.desktop {
    grid-column: 1/-1;
    grid-row: 2/4;
    gap: 35px;
  }

}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include m.desktop {
    width: 100%;
    margin-top: -60px;
    gap: 5px;
  }
}

.hero__title p {
  margin: 0;

  font-family: v.$ff-second;
  font-size: 40px;
  line-height: 98%;
  font-weight: 500;
  letter-spacing: -0.01em;

  @include m.desktop {
    font-size: 90px;
    line-height: 88%;
    letter-spacing: 0;
  }
}

.hero__title p:first-child {
  margin-right: 300px;
}

.hero__title p:last-child {
  margin-right: 86px;
  align-self: flex-end;
}

.hero__text-content span {
  margin: 20px 42px;

  font-family: v.$ff-default;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;

  @include m.desktop {
    max-width: 450px;
    margin: 0;
    margin-left: 345px;

    font-size: 24px;
    line-height: 140%;
  }
}

.hero__img {
  position: relative;
  border-radius: 16px;

  overflow: hidden;

  @include m.large-tablet {
    border-radius: 24px;
  }
}

.hero__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__button {
  margin-left: 42px;
  margin-bottom: 5px;

  @include m.desktop {
    margin-top: -2px;
    margin-left: 345px;
  }
}

.hero__photo-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero__photo-content--1 {
  margin-right: 32px;

  grid-column: 1/-1;
  grid-row: 1/2;
  gap: 41px;
  justify-self: center;

  @include m.desktop {
    margin-right: 112px;

    gap: 60px;
    justify-self: end;
  }
}

.hero__photo-content--1>.hero__img-desc {
  transform: translateY(-22px);

  @include m.desktop {
    transform: translate(-2px, -28px);
  }
}

.hero__photo-content--2 {
  margin-top: 5px;
  grid-column: 1/2;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 10px 18px;
  justify-self: left;

  @include m.desktop {
    margin: 0;

    grid-column: 1/2;
    column-gap: 46px;

    transform: translate(54px, 110px);
  }
}

.hero__photo-content--2>.hero__img-desc {
  grid-column: 2;
  grid-row: 2;
  justify-self: right;

  @include m.desktop {
    top: 8px;
    grid-row: 1;
    align-self: flex-end;
  }
}

.hero__photo-content--3 {
  margin-top: 26px;
  grid-column: 2/3;
  grid-row: 3/4;

  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: end;
  justify-items: start;
  row-gap: 29px;

  @include m.desktop {
    margin: 0;

    grid-column: 4/6;
    display: flex;
    flex-direction: row-reverse;
    gap: 46px;
    justify-content: flex-end;

    transform: translate(-46px, 130px);
  }
}

.hero__photo-content--3>.hero__img-desc {
  margin-left: 44px;

  @include m.desktop {
    margin: 0;
    top: -10px;
    align-self: center;
  }
}

.hero__photo-content--1>.hero__img,
.hero__photo-content--3>.hero__img {
  width: 221px;
  height: 135px;

  @include m.desktop {
    width: 329px;
    height: 200px;
  }
}

.hero__photo-content--2>.hero__img {
  width: 117px;
  height: 171px;

  @include m.desktop {
    width: 175px;
    height: 256px;
  }
}

.hero__img-desc {
  position: relative;
  padding: 2px 8px;
  display: flex;
  flex-direction: column;

  background-color: v.$accent;

}

.hero__img-desc p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;

  font-family: v.$ff-font3;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;

  color: v.$default-white;
}

.hero__img-desc::before {
  content: "";
  position: absolute;
  top: -26px;
  left: -26px;
  width: 29px;
  height: 29px;
  background-image: url("/__spritemap#sprite-cursor-view");
  background-repeat: no-repeat;
}

.hero__photo-content--1>.hero__img-desc::before {
  width: 26px;
  height: 26px;
  background-image: url("/__spritemap#sprite-hand-view");
}