@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.logo img {
  color: v.$default-black;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.logo:hover img {
  opacity: 0.6;
}

.logo--light img {
  color: v.$default-white;
}