@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.price {
  @include m.container;
  padding-top: 61px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include m.desktop {
    gap: 50px;
    padding-bottom: 100px;
  }
}

.price__content {
  padding: 30px;

  display: grid;

  background-color: v.$light-green;
  border-radius: 32px;

  @include m.desktop {
    padding-right: 14px;
    grid-template-columns: 64% 36%;
    gap: 110px 84px;
  }
}

.price__content h3 {
  margin: 0;

  font-family: v.$ff-second;
  font-size: 30px;
  line-height: 102%;
  font-weight: 500;

  @include m.desktop {
    grid-column: 1/2;
    grid-row: 1/2;

    font-size: 34px;
    line-height: 102%;
  }
}

.price__list {
  @include m.list-reset;

  padding-top: 30px;
  padding-bottom: 40px;

  columns: 1;

  border-bottom: 1px solid v.$black10;

  @include m.tablet {
    columns: 2;
  }

  @include m.desktop {
    padding-bottom: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
  }
}

.price__item {
  margin-bottom: 15px;

  display: flex;
  gap: 10px;
  break-inside: avoid-column;
  align-items: center;

  @include m.desktop {
    margin-bottom: 10px;
  }
}

.price__item span {
  position: relative;
  width: 21px;
  height: 21px;

  display: block;

  background-color: v.$accent;
  border-radius: 100%;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 5px);
    width: 11px;
    height: 8px;

    background-image: url("/__spritemap#sprite-checkmark-view");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.price__item p {
  margin: 0;

  font-size: 18px;
  line-height: 140%;
}

.price__cost-wrapper {
  padding-top: 13px;

  display: flex;
  gap: 43px;
  align-items: flex-end;

  @include m.tablet {
    justify-content: space-between;
  }

  @include m.desktop {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/3;

    flex-direction: column;
    align-items: flex-start;
  }
}

.price__cost {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.price__cost h4 {
  display: none;

  @include m.desktop {
    margin: 0;
    margin-bottom: 2px;

    display: block;
    font-family: v.$ff-second;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
  }
}

.price__cost p,
.price__cost span {
  margin: 0;

  font-size: 16px;
  line-height: 140%;

  @include m.desktop {
    display: flex;
    column-gap: 20px;
  }
}

.price__cost p {
  font-family: v.$ff-second;
  font-size: 34px;
  line-height: 102%;
}

.price__cost del {
  display: none;

  color: v.$black40;

  @include m.desktop {
    display: block;
  }
}