@use "../global/mixin.scss" as m;
@use "../global/variables.scss" as v;

.title {
  margin: 0;

  font-family: v.$ff-second;
  font-size: 38px;
  line-height: 98%;
  font-weight: 500;
  letter-spacing: -0.01em;

  @include m.tablet {
    font-size: 44px;
  }

  @include m.desktop {
    width: 50%;

    font-size: 55px;
    line-height: 96%;
  }
}