$default-black: #0d1627;
$default-white: #ffffff;
$accent: #1859ff;
$accent80: #1859ff80;
$light-mint: #dee9ed;
$green: #d9f243;
$error: #e74c3c;
$light-green: #eef4f6;
$black10: rgba(13, 22, 39, 0.1);
$black20: rgba(13, 22, 39, 0.2);
$black40: rgba(13, 22, 39, 0.4);
$black50: rgba(13, 22, 39, 0.5);
$black70: rgba(13, 22, 39, 0.7);
$white15: rgba(255, 255, 255, 0.15);
$white20: rgba(255, 255, 255, 0.2);
$white50: rgba(255, 255, 255, 0.5);
$dark-accent: #123692;
$ff-default: "Manrope", sans-serif;
$ff-second: "Loos", sans-serif;
// $ff-third: "Loos Wide", sans-serif;
$ff-font3: "Inter", sans-serif;
$ff-font4: "Hepta Slab", sans-serif;
$tablet-width: 768px;
$large-tablet-width: 1024px;
$desktop-width: 1440px;